#Vent1 {
    background-color: #125B75;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 22px;
    position: absolute;
    z-index: 10;
    left: 38%;
    top: 55%;
    display: none;
}

#Vent2 {
    background-color: #125B75;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 22px;
    position: absolute;
    z-index: 10;
    left: 14%;
    top: 118%;
    display: none;
}

#Vent3 {
    background-color: #125B75;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 22px;
    position: absolute;
    z-index: 10;
    left: 62%;
    top: 118%;
    display: none;
}

#Vent4 {
    background-color: #125B75;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 22px;
    position: absolute;
    z-index: 10;
    left: 38%;
    top: 160%;
    display: none;
}

#cerrarLogo {
    color: black;
}